a {
	text-decoration: none;
}

.movie_card {
	border: 1px solid white;
	width: 31%;
	text-align: center;
	margin-top: 4%;
	transition: transform .2s;
	background: rgba(48,52,63,.7)
}

.isFavorited {
	background-color:red;
	border: 3px solid red
}

.movie_card:hover {
	transform: scale(1.1); 
	}

.movie__card--title {
	text-align: center;
	font-size: 1.75em;
	margin-top: 0;
	color: #CFCBCA;
	text-shadow: 4px 15px #30343f;
}

.movie__card--img {
	width: 79%;
}

button:hover {
	background: white;
	color: black;
}

.active {
	background: red;
	max-width: 19%
}

section > img {
	background-color: rgba(207,203,202,.7);
	width: 12%;
	display: inline-block;
}

section > img:hover {
	cursor: pointer
}

.movie__h1--error {
	color: red;
	font-size: 1em;
	margin-top: 2%;
	margin-right: 9%;
	font-style: italic;
}

.movie__div--fave {
	display: flex;
	justify-content: flex-end;
}