.favourites_card {
	border: 1px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.favourites__card--title {
	color: white;
  font-size: 6vh;
}

.favourites__card--img {
	width: 50%;
	margin: 0;
}